*.o
*.*~
*.xcodeproj
out/
*.swp
*.exe
*.dll
*.so
*.lib
*.a
*.db
*.zip
*.rar
*.7z
*.pem
*.lic
*.tsn
*.bin
*.csr
*.prof
*.log

wbem_dump/192.168.1.14/
wbem_dump/192.168.1.157/
wbem_dump/192.168.1.141/
wbem_dump/192.168.1.14_old/
wbem_dump